@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model TruckTransportManegment.Areas.Login.Models.UserModel;
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<!-- Font Icon -->
<link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="~/css/stylef.css">
<div class="main">

   

    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/images/signin-image.jpg" alt="sing up image"></figure>
                    <a asp-area="Login" asp-controller="Validation" asp-action="Registration" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Log <span class="theamcolor">in</span> </h2>
                    <form method="post" class="register-form" id="login-form" asp-area="Login" asp-controller="Validation" asp-action="SubmitLogin">
                        <div class="form-group">
                            <label for="your_name"><i class="zmdi theamcolor zmdi-account material-icons-name"></i></label>
                            <input asp-for="UserName" type="text"  id="your_name" placeholder="Your Name" />
                            <span asp-validation-for="UserName"></span>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi theamcolor zmdi-lock"></i></label>
                            <input asp-for="Password" type="password" name="Password" id="your_pass" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                        </div>
                    </form>
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="~/#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="~/#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="~/#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
