@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@model TruckTransportManegment.Areas.Login.Models.UserModel


<!-- Font Icon -->
<link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="~/css/stylef.css">
<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign <span class="theamcolor">up</span></h2>
                    <form method="POST" asp-area="Login" asp-controller="Validation" asp-action="SubmitRegistration" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="name"><i class="zmdi theamcolor zmdi-account material-icons-name"></i></label>
                            <input asp-for="UserName" type="text" name="UserName" id="name" placeholder="Your Name" />
                            <span asp-validation-for="UserName"></span>
                        </div>
                        <div class="form-group">
                            <label for="number"><i class="zmdi theamcolor zmdi-phone material-icons-name"></i></label>
                            <input asp-for="Phone" type="number" name="Phone" id="phone" placeholder="Your Phone No." />
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi theamcolor zmdi-email"></i></label>
                            <input asp-for="Email" type="email" name="Email" id="email" placeholder="Your Email" />
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi theamcolor zmdi-lock"></i></label>
                            <input asp-for="Password" type="password" name="Password" id="pass" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <label for="re-pass"><i class="zmdi theamcolor zmdi-lock-outline"></i></label>
                            <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="~/#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="~/images/signup-image.jpg" alt="sing up image"></figure>
                    <a asp-area="Login" asp-controller="Validation" asp-action="Login" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
    </section>

   
</div>

<!-- JS -->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/lib/wow/wow.js"></script>
<script src="~/lib/wow/wow.min.js"></script>
<script src="~/js/main.js"></script>